[Unit]
Description=Handheld Game Console Controller Service
After=graphical-session.target

[Service]
Restart=on-failure
RestartSec=3
StartLimitInterval=180
ExecStart=/usr/bin/nice --15 /usr/bin/handycon

[Install]
WantedBy=multi-user.target
